In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('/Users/merceborras/Downloads/archive/DelayedFlights.csv')

In [17]:
#Exercici 1
df

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936753,7009710,2008,12,13,6,1250.0,1220,1617.0,1552,DL,...,9.0,18.0,0,N,0,3.0,0.0,0.0,0.0,22.0
1936754,7009717,2008,12,13,6,657.0,600,904.0,749,DL,...,15.0,34.0,0,N,0,0.0,57.0,18.0,0.0,0.0
1936755,7009718,2008,12,13,6,1007.0,847,1149.0,1010,DL,...,8.0,32.0,0,N,0,1.0,0.0,19.0,0.0,79.0
1936756,7009726,2008,12,13,6,1251.0,1240,1446.0,1437,DL,...,13.0,13.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1936757,7009727,2008,12,13,6,1110.0,1103,1413.0,1418,DL,...,8.0,11.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [40]:
df_net = df.drop(['Cancelled', 'Diverted', 'CancellationCode','TaxiIn', 'TaxiOut', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay','CRSDepTime', 'CRSArrTime', 'UniqueCarrier', 'TailNum', 'ActualElapsedTime', 'CRSElapsedTime'], axis=1)
df_net.sample(200000)
df_net

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,ArrTime,FlightNum,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,CarrierDelay,WeatherDelay
0,0,2008,1,3,4,2003.0,2211.0,335,116.0,-14.0,8.0,IAD,TPA,810,NaN,NaN
1,1,2008,1,3,4,754.0,1002.0,3231,113.0,2.0,19.0,IAD,TPA,810,NaN,NaN
2,2,2008,1,3,4,628.0,804.0,448,76.0,14.0,8.0,IND,BWI,515,NaN,NaN
3,4,2008,1,3,4,1829.0,1959.0,3920,77.0,34.0,34.0,IND,BWI,515,2.0,0.0
4,5,2008,1,3,4,1940.0,2121.0,378,87.0,11.0,25.0,IND,JAX,688,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,645671,2008,2,14,4,2143.0,2303.0,3858,68.0,18.0,18.0,SNA,OAK,371,0.0,0.0
199996,645672,2008,2,14,4,1448.0,1701.0,482,53.0,11.0,8.0,SNA,PHX,338,NaN,NaN
199997,645674,2008,2,14,4,1853.0,2102.0,536,56.0,27.0,28.0,SNA,PHX,338,0.0,0.0
199998,645676,2008,2,14,4,1642.0,1906.0,1865,54.0,21.0,7.0,SNA,PHX,338,0.0,0.0
199999,645679,2008,2,14,4,2110.0,2316.0,3836,54.0,41.0,45.0,SNA,PHX,338,5.0,0.0

In [20]:
#He seleccionat un nombre de columnes amb les quals poguÃ©s treballar fÃ cilment i el contingut del qual
#em siguÃ©s comprensible

In [41]:
#Exercici 2
#2.2 Dades faltants per columna
df_net.isnull().sum(axis=1).sample(200000)

100616    0
64509     0
46466     0
20915     2
16566     0
         ..
91617     0
16966     2
64452     0
32485     0
171872    2
Length: 200000, dtype: int64

In [47]:
#Exercici 2
#Velocitat mitjana de vol + vols arribats tard
df_net["Time"] = (df_net["ArrTime"] - df_net["DepTime"]).sample(200000)
df_net

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,ArrTime,FlightNum,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,CarrierDelay,WeatherDelay,AverageVel,Time
0,0,2008,1,3,4,2003.0,2211.0,335,116.0,-14.0,8.0,IAD,TPA,810,NaN,NaN,3.894231,208.0
1,1,2008,1,3,4,754.0,1002.0,3231,113.0,2.0,19.0,IAD,TPA,810,NaN,NaN,3.266129,248.0
2,2,2008,1,3,4,628.0,804.0,448,76.0,14.0,8.0,IND,BWI,515,NaN,NaN,2.926136,176.0
3,4,2008,1,3,4,1829.0,1959.0,3920,77.0,34.0,34.0,IND,BWI,515,2.0,0.0,3.961538,130.0
4,5,2008,1,3,4,1940.0,2121.0,378,87.0,11.0,25.0,IND,JAX,688,NaN,NaN,3.801105,181.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,645671,2008,2,14,4,2143.0,2303.0,3858,68.0,18.0,18.0,SNA,OAK,371,0.0,0.0,2.318750,160.0
199996,645672,2008,2,14,4,1448.0,1701.0,482,53.0,11.0,8.0,SNA,PHX,338,NaN,NaN,1.335968,253.0
199997,645674,2008,2,14,4,1853.0,2102.0,536,56.0,27.0,28.0,SNA,PHX,338,0.0,0.0,1.357430,249.0
199998,645676,2008,2,14,4,1642.0,1906.0,1865,54.0,21.0,7.0,SNA,PHX,338,0.0,0.0,1.280303,264.0
199999,645679,2008,2,14,4,2110.0,2316.0,3836,54.0,41.0,45.0,SNA,PHX,338,5.0,0.0,1.640777,206.0

In [46]:
df_net["AverageVel"] = (df_net["Distance"] / df_net["Time"]).sample(200000)
df_net

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,ArrTime,FlightNum,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,CarrierDelay,WeatherDelay,AverageVel,Time
0,0,2008,1,3,4,2003.0,2211.0,335,116.0,-14.0,8.0,IAD,TPA,810,NaN,NaN,3.894231,208.0
1,1,2008,1,3,4,754.0,1002.0,3231,113.0,2.0,19.0,IAD,TPA,810,NaN,NaN,3.266129,248.0
2,2,2008,1,3,4,628.0,804.0,448,76.0,14.0,8.0,IND,BWI,515,NaN,NaN,2.926136,176.0
3,4,2008,1,3,4,1829.0,1959.0,3920,77.0,34.0,34.0,IND,BWI,515,2.0,0.0,3.961538,130.0
4,5,2008,1,3,4,1940.0,2121.0,378,87.0,11.0,25.0,IND,JAX,688,NaN,NaN,3.801105,181.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,645671,2008,2,14,4,2143.0,2303.0,3858,68.0,18.0,18.0,SNA,OAK,371,0.0,0.0,2.318750,160.0
199996,645672,2008,2,14,4,1448.0,1701.0,482,53.0,11.0,8.0,SNA,PHX,338,NaN,NaN,1.335968,253.0
199997,645674,2008,2,14,4,1853.0,2102.0,536,56.0,27.0,28.0,SNA,PHX,338,0.0,0.0,1.357430,249.0
199998,645676,2008,2,14,4,1642.0,1906.0,1865,54.0,21.0,7.0,SNA,PHX,338,0.0,0.0,1.280303,264.0
199999,645679,2008,2,14,4,2110.0,2316.0,3836,54.0,41.0,45.0,SNA,PHX,338,5.0,0.0,1.640777,206.0

In [60]:
#Exercici 2
#Vol + llarg 
df_net["Time"].idxmax()
print(df_net.loc[[181365]])

        Unnamed: 0  Year  Month  DayofMonth  DayOfWeek  DepTime  ArrTime  \
181365      592839  2008      1           4          5    652.0   1810.0

        FlightNum  AirTime  ArrDelay  DepDelay Origin Dest  Distance  \
181365       1820    230.0     240.0       7.0    SFO  CVG      2036

        CarrierDelay  WeatherDelay  AverageVel    Time
181365           7.0           0.0    1.758204  1158.0

In [61]:
#Vol + endarrerit
df_net["ArrDelay"].idxmax()
print(df_net.loc[[163379]])

        Unnamed: 0  Year  Month  DayofMonth  DayOfWeek  DepTime  ArrTime  \
163379      527950  2008      1           5          6    800.0   1452.0

        FlightNum  AirTime  ArrDelay  DepDelay Origin Dest  Distance  \
163379       2398    207.0    1525.0    1275.0    EGE  MIA      1811

        CarrierDelay  WeatherDelay  AverageVel   Time
163379        1158.0           0.0    2.777607  652.0

In [ ]:
df.to_excel(r'/Users/merceborras/Downloads/archive/Flights_Delays.xlsx', sheet_name='Flights_Delays.xlsx', index=False)